@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


:root {
    --neon-color: lightgrey;
    --window-color: #242424;
    --bg-color: #404040;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas, monospace;
    color: whitesmoke;
}

.origin {
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: rgba(36, 36, 36, 0.7);


    height: auto;
    width: 85%;
    margin: auto;

    padding: 20px;
}


/* --------------------------------------------------- */
/* #region TEST*/
/* --------------------------------------------------- */

/* --------------------------------------------------- */
/* #endregion */
/* --------------------------------------------------- */


/* --------------------------------------------------- */
/* #region HEADER*/
/* --------------------------------------------------- */
.header-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-title {

    text-align: center;
    font-size: 48px;
    font-family: homenaje, serif;

    color: whitesmoke;

    position: relative;



    text-shadow:
        0 0 5px var(--neon-color),
        0 0 10px var(--neon-color),
        0 0 20px var(--neon-color),
        0 0 40px var(--neon-color),
        0 0 80px var(--neon-color);
}

/* --------------------------------------------------- */
/* #endregion */
/* --------------------------------------------------- */

/* --------------------------------------------------- */
/* #region WINDOW*/
/* --------------------------------------------------- */

.window-container {
    border: 5px solid var(--window-color);
    background-color: var(--bg-color);
    width: 100%;
}

.window-title {
    text-align: left;
    font-size: 28px;
    font-family: 'Pixelify Sans', monospace;

    background-color: var(--window-color);
    color: whitesmoke;
    padding-left: 3px;
}

.window-paragraph {
    text-align: left;
    color: var(--text-color);
    font-size: 18px;
    padding: 10px;
    background-color: transparent;
    color: whitesmoke;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* --------------------------------------------------- */
/* #endregion */
/* --------------------------------------------------- */


/* --------------------------------------------------- */
/* #region EFFECTS*/
/* --------------------------------------------------- */


.image-glow {
    filter: drop-shadow(0 0 20px var(--neon-color));
}

.text-brokenNeon {
    animation: neonBlink 1.5s infinite;
}

@keyframes neonBlink {

    0%,
    19%,
    21%,
    50%,
    51%,
    100% {
        text-shadow:
            0 0 5px var(--neon-color),
            0 0 10px var(--neon-color),
            0 0 20px var(--neon-color),
            0 0 40px var(--neon-color),
            0 0 80px var(--neon-color);
        color: whitesmoke;
    }

    20%,
    50% {
        text-shadow: none;
        color: #b8b8b8;

        /* dimmed/off color */
    }
}

.crt {
    animation: simpleCRTshadow 1.6s infinite;
}

@keyframes simpleCRTshadow {
    0% {
        text-shadow: .40px 0 1px rgba(0, 30, 255, .5), -.40px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    5% {
        text-shadow: 2.80px 0 1px rgba(0, 30, 255, .5), -2.80px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    10% {
        text-shadow: .03px 0 1px rgba(0, 30, 255, .5), -.03px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    15% {
        text-shadow: .40px 0 1px rgba(0, 30, 255, .5), -.40px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    20% {
        text-shadow: 3.48px 0 1px rgba(0, 30, 255, .5), -3.48px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    25% {
        text-shadow: 1.61px 0 1px rgba(0, 30, 255, .5), -1.61px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    30% {
        text-shadow: .70px 0 1px rgba(0, 30, 255, .5), -.70px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    35% {
        text-shadow: 3.90px 0 1px rgba(0, 30, 255, .5), -3.90px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    40% {
        text-shadow: 3.87px 0 1px rgba(0, 30, 255, .5), -3.87px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    45% {
        text-shadow: 2.23px 0 1px rgba(0, 30, 255, .5), -2.23px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    50% {
        text-shadow: .08px 0 1px rgba(0, 30, 255, .5), -.08px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    55% {
        text-shadow: 2.38px 0 1px rgba(0, 30, 255, .5), -2.38px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    60% {
        text-shadow: 2.20px 0 1px rgba(0, 30, 255, .5), -2.20px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    65% {
        text-shadow: 2.86px 0 1px rgba(0, 30, 255, .5), -2.86px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    70% {
        text-shadow: .49px 0 1px rgba(0, 30, 255, .5), -.49px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    75% {
        text-shadow: 1.89px 0 1px rgba(0, 30, 255, .5), -1.89px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    80% {
        text-shadow: .08px 0 1px rgba(0, 30, 255, .5), -.08px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    85% {
        text-shadow: .10px 0 1px rgba(0, 30, 255, .5), -.10px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    90% {
        text-shadow: 3.44px 0 1px rgba(0, 30, 255, .5), -3.44px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    95% {
        text-shadow: 2.18px 0 1px rgba(0, 30, 255, .5), -2.18px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }

    100% {
        text-shadow: 2.62px 0 1px rgba(0, 30, 255, .5), -2.62px 0 1px rgba(255, 0, 80, .3), 0 0 3px
    }
}

/* --------------------------------------------------- */
/* #endregion */
/* --------------------------------------------------- */


/* --------------------------------------------------- */
/* #region BACKGROUND*/
/* --------------------------------------------------- */


.crt::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background:
        linear-gradient(rgba(18, 16, 16, 0) 50%,
            rgba(0, 0, 0, 0.25) 50%),
        linear-gradient(90deg,
            rgba(255, 0, 0, 0.06),
            rgba(0, 255, 0, 0.02),
            rgba(0, 0, 255, 0.06));

    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    z-index: 9999;
}

.city-bg {
    background-color: #1a202c;
    background-image: url(./images/dither-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    

    min-height: 100vh;
    margin: 0;
}

.snow-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('./images/snow.gif') repeat;
      pointer-events: none;
      z-index: 9999;
      opacity: 55%;
}


/* --------------------------------------------------- */
/* #endregion */
/* --------------------------------------------------- */

