@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


:root {
    --neon-color: lightgrey;
    --window-color: #242424;
    --bg-color: #404040;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas, monospace;
}

.origin {
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: #242424;

    height: auto;
    width: 85%;
    margin: auto;
    border-radius: 10px;

    padding: 20px;
}

body {
  background: #242424;
}



.titletitle {
    text-align: center;

    font-size: 24px;
    font-family: homenaje, serif;

    margin: 20px;
    color: whitesmoke;

    position: relative;

    text-shadow:
        0 0 5px var(--neon-color),
        0 0 10px var(--neon-color),
        0 0 20px var(--neon-color),
        0 0 40px var(--neon-color),
        0 0 80px var(--neon-color);
}

.WindowControlButtons {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* --------------------------------------------------- */
/* WINDOW SECTION */
/* --------------------------------------------------- */

.Window {
    border: 5px solid var(--window-color);
    background-color: var(--bg-color);
    width: 100%;
}

.WindowTitle {
    text-align: left;
    font-size: 28px;
    font-family: 'Pixelify Sans', monospace;

    background-color: var(--window-color);
    color: whitesmoke;
    padding-left: 3px;
}

.para1 {
    text-align: left;
    color: var(--text-color);
    font-size: 18px;
    padding: 10px;
    background-color: transparent;
    color: whitesmoke;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* --------------------------------------------------- */
/* WINDOW SECTION */
/* --------------------------------------------------- */




.glow {
  filter: drop-shadow(0 0 20px var(--neon-color));
}


.brokenNeonText {
    display: inline-block;
    animation: neonBlink 1.5s infinite;

    transform: rotate(190deg);
    z-index: 1;

    text-align: center;
    font-size: 48px;
    font-family: homenaje, serif;
    color: whitesmoke;

    position: absolute;
    bottom: -10px;
    margin-left: 3px;
}

@keyframes neonBlink {

    0%,
    19%,
    21%,
    50%,
    51%,
    100% {
        text-shadow:
            0 0 5px var(--neon-color),
            0 0 10px var(--neon-color),
            0 0 20px var(--neon-color),
            0 0 40px var(--neon-color),
            0 0 80px var(--neon-color);
            transform: rotate(190deg);
        color: whitesmoke;
    }

    20%,
    50% {
        text-shadow: none;
        color: #222;
        transform: rotate(220deg);

        /* dimmed/off color */
    }
}



.pattern-background {
    animation: moveBackground 10s linear infinite;

    background-image: radial-gradient(circle at 25% 25%, #242424 2px, transparent 2px);
    background-size: 20px 20px;
    background-repeat: repeat;
    opacity: 1;
    background-color: #404040;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0, 0 0;
    }

    100% {
        background-position: 40px 40px, 0 0;
    }
}