@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


:root {
    --neon-color: lightgrey;
    --window-color: #242424;
    --bg-color: #404040;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas, monospace;
}

.origin {
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: #242424;

    height: auto;
    width: 85%;
    margin: auto;
    border-radius: 10px;

    padding: 20px;
}

body {
  background: #242424;
}



.titletitle {
    text-align: center;

    font-size: 24px;
    font-family: homenaje, serif;

    margin: 20px;
    color: whitesmoke;

    position: relative;

    text-shadow:
        0 0 5px var(--neon-color),
        0 0 10px var(--neon-color),
        0 0 20px var(--neon-color),
        0 0 40px var(--neon-color),
        0 0 80px var(--neon-color);

    animation: textShadow 1.6s infinite;
}

.WindowControlButtons {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* --------------------------------------------------- */
/* WINDOW SECTION */
/* --------------------------------------------------- */

.Window {
    border: 5px solid var(--window-color);
    background-color: var(--bg-color);
    width: 100%;
}

.WindowTitle {
    text-align: left;
    font-size: 28px;
    font-family: 'Pixelify Sans', monospace;

    background-color: var(--window-color);
    color: whitesmoke;
    padding-left: 3px;
}

.para1 {
    text-align: left;
    color: var(--text-color);
    font-size: 18px;
    padding: 10px;
    background-color: transparent;
    color: whitesmoke;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* --------------------------------------------------- */
/* WINDOW SECTION */
/* --------------------------------------------------- */




.glow {
  filter: drop-shadow(0 0 20px var(--neon-color));
}


.brokenNeonText {
    display: inline-block;
    animation: neonBlink 1.5s infinite;
}

@keyframes neonBlink {

    0%,
    19%,
    21%,
    50%,
    51%,
    100% {
        text-shadow:
            0 0 5px var(--neon-color),
            0 0 10px var(--neon-color),
            0 0 20px var(--neon-color),
            0 0 40px var(--neon-color),
            0 0 80px var(--neon-color);
        color: whitesmoke;
    }

    20%,
    50% {
        text-shadow: none;
        color: #222;
        transform: rotate(220deg);

        /* dimmed/off color */
    }
}

/* --------------------------------------------------- */
/* Effects */
/* --------------------------------------------------- */


@keyframes simpleCRTshadow{
  0%{text-shadow:.40px 0 1px rgba(0,30,255,.5),-.40px 0 1px rgba(255,0,80,.3),0 0 3px}
  5%{text-shadow:2.80px 0 1px rgba(0,30,255,.5),-2.80px 0 1px rgba(255,0,80,.3),0 0 3px}
  10%{text-shadow:.03px 0 1px rgba(0,30,255,.5),-.03px 0 1px rgba(255,0,80,.3),0 0 3px}
  15%{text-shadow:.40px 0 1px rgba(0,30,255,.5),-.40px 0 1px rgba(255,0,80,.3),0 0 3px}
  20%{text-shadow:3.48px 0 1px rgba(0,30,255,.5),-3.48px 0 1px rgba(255,0,80,.3),0 0 3px}
  25%{text-shadow:1.61px 0 1px rgba(0,30,255,.5),-1.61px 0 1px rgba(255,0,80,.3),0 0 3px}
  30%{text-shadow:.70px 0 1px rgba(0,30,255,.5),-.70px 0 1px rgba(255,0,80,.3),0 0 3px}
  35%{text-shadow:3.90px 0 1px rgba(0,30,255,.5),-3.90px 0 1px rgba(255,0,80,.3),0 0 3px}
  40%{text-shadow:3.87px 0 1px rgba(0,30,255,.5),-3.87px 0 1px rgba(255,0,80,.3),0 0 3px}
  45%{text-shadow:2.23px 0 1px rgba(0,30,255,.5),-2.23px 0 1px rgba(255,0,80,.3),0 0 3px}
  50%{text-shadow:.08px 0 1px rgba(0,30,255,.5),-.08px 0 1px rgba(255,0,80,.3),0 0 3px}
  55%{text-shadow:2.38px 0 1px rgba(0,30,255,.5),-2.38px 0 1px rgba(255,0,80,.3),0 0 3px}
  60%{text-shadow:2.20px 0 1px rgba(0,30,255,.5),-2.20px 0 1px rgba(255,0,80,.3),0 0 3px}
  65%{text-shadow:2.86px 0 1px rgba(0,30,255,.5),-2.86px 0 1px rgba(255,0,80,.3),0 0 3px}
  70%{text-shadow:.49px 0 1px rgba(0,30,255,.5),-.49px 0 1px rgba(255,0,80,.3),0 0 3px}
  75%{text-shadow:1.89px 0 1px rgba(0,30,255,.5),-1.89px 0 1px rgba(255,0,80,.3),0 0 3px}
  80%{text-shadow:.08px 0 1px rgba(0,30,255,.5),-.08px 0 1px rgba(255,0,80,.3),0 0 3px}
  85%{text-shadow:.10px 0 1px rgba(0,30,255,.5),-.10px 0 1px rgba(255,0,80,.3),0 0 3px}
  90%{text-shadow:3.44px 0 1px rgba(0,30,255,.5),-3.44px 0 1px rgba(255,0,80,.3),0 0 3px}
  95%{text-shadow:2.18px 0 1px rgba(0,30,255,.5),-2.18px 0 1px rgba(255,0,80,.3),0 0 3px}
  100%{text-shadow:2.62px 0 1px rgba(0,30,255,.5),-2.62px 0 1px rgba(255,0,80,.3),0 0 3px}
}

.crt {
  animation: simpleCRTshadow 1.6s infinite;
}

/* --------------------------------------------------- */
/* BG */
/* --------------------------------------------------- */

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}