@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


:root {
    --window-color: cornflowerblue;
    --bg-color: #18183a;
    --text-color: whitesmoke;
    --neon-color: blue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas, monospace;
}

.origin {
    display: flex;
    flex-direction: column;
    flex: 1;


    height: auto;
    width: 70%;
    margin: auto;

    padding: 20px;
}

button {
    background-color: transparent;
    border: none;
}


/* --------------------------------------------------- */
/* TITLE SECTION */
/* --------------------------------------------------- */

.TitleTitle {
    text-align: center;
    font-size: 48px;
    font-family: 'Press Start 2P', cursive;

    margin: 20px;
    color: var(--window-color);

    position: relative;

    text-shadow:
        0 0 5px var(--neon-color),
        0 0 10px var(--neon-color),
        0 0 20px var(--neon-color),
        0 0 40px var(--neon-color),
        0 0 80px var(--neon-color);
}

.WindowControlButtons {
    position: absolute;
    right: 10px;
}

/* --------------------------------------------------- */
/* WINDOW SECTION */
/* --------------------------------------------------- */


.Window {
    border: 5px solid var(--window-color);
    background-color: var(--bg-color);
    width: 100%;
}

.WindowTitle {
    text-align: left;
    font-size: 28px;
    font-family: 'Pixelify Sans', monospace;

    background-color: var(--window-color);
    color: whitesmoke;
    padding-left: 3px;
}

.para1 {
    text-align: left;
    color: var(--text-color);
    font-size: 18px;
    padding: 10px;
    background-color: transparent;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* --------------------------------------------------- */
/* IMAGE OPACITY HOVER */
/* --------------------------------------------------- */

.hover-img-opacity {
    opacity: 1;
    transition: opacity 0.3s ease;
    /* smooth fade */
    cursor: pointer;
}

.hover-img-opacity:hover {
    opacity: 0.3;
    /* lower opacity on hover */
}

/* --------------------------------------------------- */
/* BACKGROUND PATTERN */
/* --------------------------------------------------- */

.pattern-background {

    animation: moveBackground 1s linear infinite;

    background-image: radial-gradient(circle at 25% 25%, cornflowerblue 2px, transparent 2px);
    background-size: 40px 40px;
    background-repeat: repeat;
    opacity: 1;
    background-color: var(--bg-color);

    transition: background-color 0.5s ease, color 0.5s ease;

}

@keyframes moveBackground {
    0% {
        background-position: 0 0, 0 0;
    }

    100% {
        background-position: 40px 40px, 0 0;
    }
}

/* --------------------------------------------------- */
/* BROKEN NEON TITLE  */
/* --------------------------------------------------- */

.brokenNeonText {
    display: inline-block;
    animation: neonBlink 1.5s infinite;

    transform: rotate(10deg);
    z-index: 1;

    text-align: center;
    font-size: 48px;
    font-family: 'Press Start 2P', cursive;

    position: absolute;
    bottom: -5px;
}

@keyframes neonBlink {

    0%,
    19%,
    21%,
    50%,
    51%,
    100% {
        text-shadow:
            0 0 5px var(--neon-color),
            0 0 10px var(--neon-color),
            0 0 20px var(--neon-color),
            0 0 40px var(--neon-color),
            0 0 80px var(--neon-color);
        color: cornflowerblue;
    }

    20%,
    50% {
        text-shadow: none;
        color: #222;
        /* dimmed/off color */
    }
}

/* --------------------------------------------------- */
/* FURINA PEEKING */
/* --------------------------------------------------- */

.pattern-background {

    animation: moveBackground 1s linear infinite;

    background-image: radial-gradient(circle at 25% 25%, cornflowerblue 2px, transparent 2px);
    background-size: 40px 40px;
    background-repeat: repeat;
    opacity: 1;
    background-color: var(--bg-color);

    transition: background-color 0.5s ease, color 0.5s ease;

}

.furina-peek {

    animation: furinapeeking 5s linear infinite;

    height: 300px;
    z-index: 1;

    position: absolute;
    left: -135px;
    top: 10%;
}

.furina-peek:hover {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes furinapeeking {
    0%, 60%{
        left: -135px;
    }
    70% {
        left: -240px;
        z-index: 1;
    }
    75%, 90% {
        left: -235px;
        z-index: 3;
    }
    91%{
        left: -240px;
        z-index: 1;
    }
    100% {
        left: -135px;
        z-index: 1;
    }
}


/* --------------------------------------------------- */



/* --------------------------------------------------- */


/* Responsive */
@media (max-width: 768px) {
    @media (max-width: 768px) {}

    .origin {
        flex-direction: column;
        background-color: red;
    }

}